<a href="https://colab.research.google.com/github/mevangelista-alvarado/Python_Notas/blob/master/Intro_a_Python_y_numeros.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![urc_logo_ext.png]()

**Actualizado:** Julio de 2023

**Autor:** Miguel Evangelista ([@mevagelista-alavardo](https://github.com/mevangelista-alvarado))

# Introducción

Python es un lenguage de programación poderoso y fácil de aprender.

Tiene un alto nivel de estructura de datos y una forma simple, pero efectiva de aproximarse a la programación orientada a objetos. La sintaxis elegante y dinámica de Python, junto con su interprete natural, lo hacen el lenguaje ideal para desarrollar aplicaciones rápidas en diversas áreas.

El intérprete de Python y todas sus librerías estándar se pueden encontrar gratuitamente para la mayoría de plataformas en el sitio [Web de Python](https://www.python.org/). También, en este sitio se pueden encontrar la documentación ofical de Python, tutoriales y herramientas.

Podemos encontrar a Python en dos versiones: Python2 (Deprecado en 2020) y Python3. Actualmente Python3 se encuentra incorporado nativamente en Linux y Mac Os, sin embargo podemos optar por instalar otra distribución como Anaconda.

En este curso utilizaremos Python3, desde los notebooks de [Google Colab](https://colab.research.google.com/notebooks/welcome.ipynb), trabajar con la distribución nativa o con otra que instalemos no implica diferencia alguna para este curso. Si no sabemos cómo comprobar la versión por default en nuestro sistema o estamos utilizando Windows, podemos directamente descargar e instalar la distribución de Anaconda mediante el siguiente enlace: [Descarga Anaconda](https://www.anaconda.com/distribution/#download-section)

# Python como Calculadora



Python es un lenguaje de programación que nos permite dictar instrucciones a una computadora. Este lenguaje se ha vuelto muy popular en los últimos años debido a su facilidad de sintaxis y curva de aprendizaje.

La mejor forma de aprender a programar es haciéndolo. Da click en cualquier bloque de código de este curso y preciona ctrl + Enter para correrlo.

Debemos tener presente que las instrucciones se organizan en bloques y se ejecutan de acuerdo al orden con el que fueron escritas.

## Números

El interprete de Python actúa como una calculadora simple: puedes escribir una expresión en él y te regresará el valor.

La sintaxis para las expresiones es sencilla: los operadores `+`, `-`,`*` y `/` funcionan como en la mayoría de otros lenguajes; también podemos usar paréntesis `(())` para agrupar y `**` para elevar a una potencia.

Por ejemplo:

In [ ]:
1+2

In [ ]:
3-4*5

In [ ]:
(3-4*5)/2

In [ ]:
1/2

In [ ]:
2**2

Los números enteros, como 1,2 y 3 son de tipo enteros (`int`), los que tienen una parte decimal, como 5.0 o 1.6 son de tipo flotante (`float`).

La división siempre regresa un valor de tipo flotante. Por ejemplo, la división `1/2` regresa el valor `0.5`.

Para obtener un valor entero en la división y olvidarnos de la parte racional, utilizamos el operador `//` y para calcular el residuo podemos usar el operador `%`.

In [ ]:
1//2 # Muestra la parte entera de la division

In [ ]:
4%3 # Muestra el residuo de la division

## Variables

En algunos lenguajes de programación, las variables se pueden entender como "cajas" en las que se guardan los datos, pero en Python las variables son "etiquetas" que permiten hacer referencia a los datos

Utilizamos el signo `=` para referenciar un valor a una variable, la asiganción siempre es de izquiera a derecha, es decir, `etiqueta = valor `

In [ ]:
base = 4
altura = 5*2
base * altura

Si una variable no está definida previamente, al tratar de usarla nos dará un mensaje de error:

`NameError: name 'a' is not defined`

In [ ]:
variable_no_definida

En el caso de los números, si tratamos de operar diferentes tipos de variables (`int` y `float`), el operador convertirá todos a punto flotante.

In [ ]:
4 * 3.75 - 1

Pero, si mantenemos el tipo de variable el resultado sera el mismo tipo de variable.

In [ ]:
4 * 3 - 1

Además de las variables `int` y `float`. Python soporta otro tipo de números, como `Decimal` y `Fraction` y números complejos, para estos últimos usa el sufijo `j` o `J` para indicar la parte imaginaria.

In [ ]:
numero_complejo = 3+5j

Para saber que tipo de valor tiene asignada mi variable, utilizamos la función con el nombre reservado `type`, por ejemplo veamos que el numero anterior es efectivamente un numero complejo.

In [ ]:
type(numero_complejo)

# Comparar cosas

Gran parte de la programación incluye comprar cosas. Lo más fácil de comparar son números.

Los operadores estándar de comparación son:

*   `<` (menor que),
*   `>` (mayor que),
*   `==` (igual a),
*   `<=` (menor que o igual a ),
*   `>=` (mayor que o igual a ) y
*   `!=` (no igual a ).

**Nota**: No conundir `=` con `==`, ya que con el primero es para asignar valores a variables y el segundo es para comprobar que dos cosas son iguales.

Veamos algunos ejemplos:

In [ ]:
- 1 < 0

In [ ]:
5 > (2+1)**2

In [ ]:
1 == 1

In [ ]:
3 != 1

In [ ]:
5 >= 10/2

In [ ]:
7 <= 11

EL resultado de las comparaciones siempre son Verdadero (`True`) y Falso (`False`), esta variables son de tipo booleano (`Boolean`) y son las únicas de este tipo.

La sintaxís de las variables es escribir con la primera letra en mayúscula y el resto en minúscula, `True` y `False`.

Los valores booleanos pueden ser asignados a variables, por ejemplo:

In [ ]:
true = True
true

In [ ]:
a = 2 > 5
a

Otro operador que podemos usar son `and` y `or`, donde:

*   `and` necesita que ambas comparaciones sean `True` para que el resultado final sea `True`, en caso contrario será `False`.
*   `or` necesita que sólo una de las comparaciones sea `True` para que el resultado final `True`, en caso contrario será `False`.

A continuación vemos ejemplos de su uso:

In [ ]:
8 > 4 and -1 < 0

In [ ]:
-3 > -1 or 2 < 1

# Ejercicio

Escribe el resultado de los siguiente comandos, depues ejecutálos y compara tu respuesta.

In [ ]:
True and True

In [ ]:
False and True

In [ ]:
True or 1 == 1

In [ ]:
(1+1)**2 != 2**2

In [ ]:
False and False